header {
    text-align: center;
}

button, .button, .sub-container, img {
    background-color: #eeba30;
    border-color: #d3a625;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px 50px;  
}

button, .button {
    font-family: 'Bellefair', serif;
    font-weight: 500;
    font-size: 100%;
    margin: 10px 5px 10px 5px;
    padding: 7px;
}

.buttons {
    text-align: center;
}

.main-container {
    margin: 0 auto;
    text-align: center;
}

.sub-container {
    display: inline-block;
    margin: 5px;
    padding: 3px;
    width: 20%;
}

img {
    width: 100%;
}

.ratingContainer {
    text-align: center;
}

body {
    font-family: 'Bellefair', serif;
    font-weight: 500;
    background-image: url("../images/background.png");
    
}